@using CatMash.Business.Model;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rank</title>
</head>
<body>
    <div class="row">

        @{
            int counter = 1;
            var cats = (List<Cat>)ViewBag.List;
            for (int i = 0; i < cats.Count; i++)
            {
                <div class="col-md-12">
                    <h2 class="float-left">#@counter</h2>

                    <div class="square">
                        <a class="float-right" href="@cats[i].Url" target="_blank"><img class="contain" src="@cats[i].Url" /></a>
                    </div>
                    <hr />
                </div>
                if (i < cats.Count - 1 && cats[i].Score != cats[i + 1].Score)
                {
                    counter++;
                }
            }
        }
    </div>
</body>
</html>